<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="constxiong.mapper.UserMapper">

    <select id="selectUserWithLazyInfo" resultMap="UserWithLazyInfo">
        select * from user where id = 1
    </select>

    <resultMap id="UserWithLazyInfo" type="constxiong.po.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="info" javaType="constxiong.po.Info" select="constxiong.mapper.InfoMapper.selectInfoByUserId" column="id"/>
    </resultMap>

</mapper>