<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="constxiong.mapper.UserMapper">

    <select id="selectUser" resultType="constxiong.po.User" parameterType="constxiong.po.User">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser" parameterType="constxiong.po.User">
        insert into user values(#{id}, #{name})
    </insert>

    <select id="selectUserByResultMap" resultMap="userMap" parameterType="constxiong.po.User">
        select * from user where id = #{id}
    </select>

    <resultMap id="userMap" type="constxiong.po.User">
        <id property="id" column="id" />
        <result property="mc" column="name"/>
    </resultMap>

    <select id="selectUserByParamIndex" resultType="constxiong.po.User">
        select * from user where id = #{arg0} and name = #{arg1}
    </select>

    <select id="selectUserByAnnotation" resultType="constxiong.po.User">
        select * from user where id = #{id} and name = #{name}
    </select>

    <select id="selectUserByPo" resultType="constxiong.po.User" parameterType="constxiong.po.User">
        select * from user where id = #{id} and name = #{name}
    </select>

    <select id="selectUserByMap" resultType="constxiong.po.User">
        select * from user where id = #{id} and name = #{name}
    </select>

</mapper>